<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daily.allowance.domain.mission.mapper.MissionMapper">
    <select id="searchMission"
            parameterType="MissionSearchRequestDto"
            resultType="MissionResponseDto">
        select *
        from mission
        <where>
            <if test="active != null and active != ''">
                active = #{active}
            </if>
            <if test="startDate != null">
                and start_date >= #{startDate}
            </if>
            <if test="endDate != null">
                and end_date  <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test="missionName != null and missionName != ''">
                and mission_name like '%' || #{missionName} || '%'
            </if>
            <if test="missionAmount != null and missionAmount != ''">
                and mission_amount >= #{missionAmount}
            </if>
        </where>
    </select>

    <insert id="registerMission"
            parameterType="MissionRegisterRequestDto"
            useGeneratedKeys="true"
            keyProperty="missionId">
        insert into mission(mission_name,
                            mission_amount,
                            start_date,
                            end_date,
                            active)
        values (#{missionName},
                #{missionAmount},
                #{startDate},
                #{endDate},
                #{active})
    </insert>

    <update id="modifiedMissionActive">
        update mission
        set active = #{active}
        where mission_id = #{missionId}
    </update>
</mapper>