<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daily.allowance.domain.mission.mapper.MissionMapper">
    <select id="searchAvailableMission"
            resultType="com.daily.allowance.domain.mission.dto.MissionResponseDto">
        select *
        from mission
        where active = 1
        and current_date between start_date and end_date
    </select>

    <insert id="registerMission"
            parameterType="com.daily.allowance.domain.mission.dto.MissionRegisterRequestDto"
            useGeneratedKeys="true"
            keyProperty="missionId">
        insert into mission(
            mission_name,
            mission_amount,
            start_date,
            end_date,
            active
        )values(
            #{missionName},
            #{missionAmount},
            #{startDate},
            #{endDate},
            #{active}
        )
    </insert>
</mapper>