<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daily.allowance.domain.payment.mapper.PaymentMapper">
    <select id="searchPaymentBenefitMonthly"
            parameterType="PaymentSearchRequestDto"
            resultType="PaymentSearchResponseVo">
        select p.payment_date
             , COALESCE(m.mission_name, '데일리 용돈') as payment_name
             , p.payment_amount
        from payment p
                 left outer join mission m on (p.mission_id = m.mission_id)
        where p.payment_date between #{startDate} and #{endDate}
          and p.status = 'SUCCESS'
          and p.member_id = #{memberId}
        order by p.payment_date desc;
    </select>

    <select id="searchDuplicatePayment"
            parameterType="PaymentRequestDto"
            resultType="PaymentResponseDto">
        select p.*
        , m.mission_name
        from payment p
        left outer join mission m on (p.mission_id = m.mission_id)
        where p.payment_date = #{paymentDate}
        and p.member_id = #{memberId}
        <if test="paymentCode.toString() != null and paymentCode.toString() != ''">
            <choose>
                <when test="paymentCode.toString() == 'DAILY'">
                    and p.payment_code = #{paymentCode}
                </when>
                <when test="paymentCode.toString() == 'MISSION'">
                    and p.payment_code = #{paymentCode}
                    and p.mission_id = #{missionId}
                </when>
                <otherwise>
                </otherwise>
            </choose>
            limit 1
        </if>
    </select>

    <insert id="registerPayment"
            parameterType="PaymentRequestDto"
            useGeneratedKeys="true"
            keyProperty="paymentId">
        insert into payment(member_id,
                            mission_id,
                            payment_code,
                            payment_amount,
                            status,
                            payment_date)
        values (#{memberId},
                #{missionId},
                #{paymentCode},
                #{paymentAmount},
                #{status},
                #{paymentDate})
    </insert>

    <insert id="registerPaymentHistory"
            parameterType="PaymentHistoryDto"
            useGeneratedKeys="true"
            keyProperty="paymentHistoryId">
        insert into payment_history(payment_id,
                                    member_id,
                                    mission_id,
                                    payment_code,
                                    payment_amount,
                                    payment_date,
                                    reason,
                                    create_date)
        values (#{paymentId},
                #{memberId},
                #{missionId},
                #{paymentCode},
                #{paymentAmount},
                #{paymentDate},
                #{reason},
                #{createdDate})
    </insert>

    <update id="modifiedPayment"
            parameterType="PaymentRequestDto">
        update payment
        set status         = #{status}
          , payment_amount = #{paymentAmount}
        where payment_id = #{paymentId}
    </update>

</mapper>